<h3>Create a Member</h3>
<%= form_with model: @member do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :bio, placeholder: "bio" %>
  <%= form.text_field :role, placeholder: "role" %>
  <%= form.submit %>
<% end %>

<!-- <%= form_for @member do |form| %>
  <%= form.text_field :name, placeholder: 'name' %>
  <%= form.text_field :bio, placeholder: 'bio' %>
  <%= form.text_field :role, placeholder: 'role' %>
  <%= form.submit %>
<% end %> -->
